@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .layout-grid {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 1rem;
  }
  .button-underline {
    border-bottom-width: 3px;
    border-style: solid;
    @apply border-blue-light;
  }

  .header {
    @apply font-TTAutonomousMonoBold text-7xl tracking-wider leading-tight;
  }
}
